@import 'https://fonts.googleapis.com/css?family=Poppins';


html, body {
    max-width: 100%;
    overflow-x: hidden;
}


#home {
	width: 100vw;
	height: 100vh;
	background-color: rgba(7, 3, 48, 0.84);
    /*background-image: url(../image/nature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    opacity: 0;

}

#navBar {
	width: 100%;
	position : absolute;
	bottom: -62px;
    z-index: 1;
}

#second {
	width: 100vw;
	height: 100vh;
	background-color: white;
}

#third {
	width: 100vw;
	height: 100vh;
	background-color: gray;
}

.uk-navbar {
    font-family: 'Poppins', sans-serif;
    background: #17153c;
    color: #444;
    border: 1px solid rgba(0,0,0,.06);
    padding: 10px;
    text-transform: uppercase;
}


.uk-navbar-nav>li>a {
    /* border: 1px solid transparent; */
    border-bottom-width: 0;
    text-shadow: none;
    padding-left: 0;
	padding-right: 0;
}

.uk-navbar-brand {
	text-shadow: none;
}

.uk-navbar-nav>li:hover>a:after {
	height: 2px;
}

.uk-navbar-nav > li.uk-active > a:after {
    height: 2px;
}


.uk-navbar-nav > li > a:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 0;
    width: 100%;
    color: #fcfcfc;
    background: #d91d50;
    -webkit-transition: height 0.15s ease, color 0.15s ease;
    transition: height 0.15s ease, color 0.15s ease;
}

.home-heading {
    position: relative;
    text-align: center;
    margin-top: 100px;
    font-size: 300px;
    font-family: 'Poppins', sans-serif;
    line-height: 100vh;
    font-weight: 800;
    color: #084376;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
}

.home-heading>a:hover {
    text-decoration: none;
}

.tm-fx-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.tm-fx-container > * {
    position: absolute;
    will-change: transform;
}

.tm-fx-container > * > .tm-fx-box {
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.4);
    background-color: #17153c;
}

.tm-triangle {
    width: 0;
    height: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #17153c transparent;
    -webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.4));
    -moz-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.4));
}

.logo {

    position: absolute;
    /* width: calc(50vw); */
    height: 200%;
    bottom: calc(50vh);
    left: calc(50vw - 241px);

/*    width: auto;
    height: 100%;*/
}

h3 {
  display: none; /*inline-block;*/
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.half-page {
    width: 50vw;
}

#left-carousel {
  padding: 0;
}

#right-carousel {
  padding: 0;
}

/* Left Carousel */
#mycarousel>.carousel-inner>.item.active.right,
#mycarousel>.carousel-inner>.item.next
{
   left:0;
   -webkit-transform:translate3d(-100%,0,0);
   -ms-transform:translate3d(-100%,0,0);
   transform:translate3d(-100%,0,0);
   transition-duration: 0.5s;
}

#mycarousel>.carousel-inner>.item.active.left,
#mycarousel>.carousel-inner>.item.prev
{
   left:0;
   -webkit-transform:translate3d(0,0,0);
   -ms-transform:translate3d(0,0,0);
   transform:translate3d(0,0,0);
   transition-duration: 0.5s;
}

#mycarousel>.carousel-inner>.item.active,
#mycarousel>.carousel-inner>.item.next.left,
#mycarousel>.carousel-inner>.item.prev.right {
  left:0;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  transition-duration: 0.5s;
}

/* Right Carousel*/

#mycarousel2>.carousel-inner>.item.active.right,
#mycarousel2>.carousel-inner>.item.next
{
   left:0;
   -webkit-transform:translate3d(100%,0,0);
   -ms-transform:translate3d(100%,0,0);
   transform:translate3d(100%,0,0);
   transition-duration: 0.5s;
}

#mycarousel2>.carousel-inner>.item.active.left,
#mycarousel2>.carousel-inner>.item.prev
{
   left:0;
   -webkit-transform:translate3d(0,0,0);
   -ms-transform:translate3d(0,0,0);
   transform:translate3d(0,0,0);
   transition-duration: 0.5s;
}

#mycarousel2>.carousel-inner>.item.active,
#mycarousel2>.carousel-inner>.item.next.left,
#mycarousel2>.carousel-inner>.item.prev.right {
  left:0;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  transition-duration: 0.5s;
}


.carousel-inner>.item>img {
  width: 50%;
}

.carousel-caption {
    height: 100%;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;  
}

.carousel-caption:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

#mycarousel>.carousel-inner>.item>.carousel-caption {
    right: 15%;
    left: 15%;
    padding-bottom: 0;
}

.carousel-caption>iframe {
    width: 100%;
    height: 65%;
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
    overflow:hidden;
}


/* Hamburger Icon */

.uk-navbar-toggle:after {
    display: none;
}

.uk-navbar-toggle:before {
    display: none;
}

.hamburglar {
  -webkit-transform: scale(1);
          transform: scale(1);
  /*margin: 40px auto;*/
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  /*background: #158fef;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1500;
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
          mask: url(#mask);
  -webkit-mask-box-image: url(../image/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: #fff;
}

@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.hamburglar.is-open .path {
  -webkit-animation: dash-in 0.6s linear normal;
          animation: dash-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hamburglar.is-open .animate-path {
  -webkit-animation: rotate-in 0.6s linear normal;
          animation: rotate-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
  -webkit-animation: dash-out 0.6s linear normal;
          animation: dash-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hamburglar.is-closed .animate-path {
  -webkit-animation: rotate-out 0.6s linear normal;
          animation: rotate-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
  bottom: 10px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #fff;
}

.burger-bun-top {
  top: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.6s linear normal;
          animation: bun-top-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.6s linear normal;
          animation: bun-bot-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.6s linear normal;
          animation: bun-top-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.6s linear normal;
          animation: bun-bot-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@-webkit-keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.6s linear normal;
          animation: burger-fill-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.6s linear normal;
          animation: burger-fill-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}
@-webkit-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}


/*#nav-icon {
  width: 50px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}*/



/* Viewport changes */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  .half-page {
    width: 100vw;
  }    
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  .half-page {
    width: 100vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 15%;
      left: 15%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 85%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  .half-page {
    width: 50vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 5%;
      left: 5%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
      
  }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

  .half-page {
    width: 100vw;
  } 

}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  .half-page {
    width: 100vw;
  } 

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 15%;
      left: 15%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 85%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  .half-page {
    width: 50vw;
  }

   #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 

  .half-page {
    width: 100vw;
  } 

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 

  .half-page {
    width: 100vw;
  } 

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 82%;
  }

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 

  .half-page {
    width: 50vw;
  }

   #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 70%;
  }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 

  .half-page {
    width: 100vw;
  } 

}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 

  .half-page {
    width: 100vw;
  } 

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 82%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

  .half-page {
    width: 50vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 70%;
  }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {

  .half-page {
    width: 100vw;
  }

}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {

  .half-page {
    width: 100vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 70%;
  }

}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {

  .half-page {
    width: 50vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

  .half-page {
    width: 100vw;
  }


}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

  .half-page {
    width: 100vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 70%;
  }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

  .half-page {
    width: 50vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

  .half-page {
    width: 100vw;
  }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

  .half-page {
    width: 100vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 85%;
  }

}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .half-page {
    width: 50vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

  .half-page {
    width: 100vw;
  }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

  .half-page {
    width: 100vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 85%;
  }
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

  .half-page {
    width: 50vw;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 10%;
      left: 10%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  .half-page {
    width: 100vw;
  }
  .col-sm-6 {
    width: 100%;
  }



}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .half-page {
    width: 100vw;
  }
  .col-sm-6 {
    width: 100%;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 16%;
      left: 16%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 88%;
  }

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

  .half-page {
    width: 50vw;
  }
  .col-sm-6 {
    width: 50%;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 8%;
      left: 8%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  .half-page {
    width: 100vw;
  }
  .col-sm-6 {
    width: 100%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .half-page {
    width: 100vw;
  }
  .col-sm-6 {
    width: 100%;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 16%;
      left: 16%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 88%;
  }

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

  .half-page {
    width: 50vw;
  }
  .col-sm-6 {
    width: 50%;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 8%;
      left: 8%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .half-page {
    width: 100vw;
  }
  .col-sm-6 {
    width: 100%;
  }


}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

  .half-page {
    width: 100vw;
  }
  .col-sm-6 {
    width: 100%;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 16%;
      left: 16%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 88%;
  }

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

  .half-page {
    width: 50vw;
  }
  .col-sm-6 {
    width: 50%;
  }

  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 8%;
      left: 8%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 65%;
  }

}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) {
 
}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) { 

/*  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 16%;
      left: 16%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 80%;
  }*/
}

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) { 

/*  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 8%;
      left: 8%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 70%;
  }*/
}

/* ----------- large DPI ---------------*/
@media (min-device-width: 1920px) and (orientation: landscape) { 


  #mycarousel>.carousel-inner>.item>.carousel-caption {
      right: 8%;
      left: 8%;
  }

  .carousel-caption>iframe {
      width: 100%;
      height: 90%;
  }

}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { 
}

/* ----------- Apple Watch ----------- */
@media (max-device-width: 42mm) and (min-device-width: 38mm) { 

}

/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px) { 

}